// Variables

// Colors
$green: #51D693;
$black: #222;
$gray-dark: #555;
$gray: #aaa;
$gray-translucent: rgba($gray, .5);
$gray-light: #bbb;
$black-translucent: rgba(0,0,0,.2);

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 1000px;
$breakpoint-nav: 1360px;
$breakpoint-large: 1200px;