---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{ title ? title + ' | ' : '' }Gif Wall</title>
		<meta name="description" content="Display gifs full-screen on a loop.">
		<meta name="referrer" content="no-referrer-when-downgrade">
		<meta name="robots" content="all">
		<meta content="en_US" property="og:locale">
		<meta content="Gif Wall" property="og:site_name">
		<meta content="website" property="og:type">
		<meta content="https://gifwall.mattsoria.com/" property="og:url">
		<meta content="Gif Wall" property="og:title">
		<meta content="Display gifs full-screen on a loop." property="og:description">
		<meta content="https://gifwall.mattsoria.com/og.jpg" property="og:image">
		<meta content="1200" property="og:image:width">
		<meta content="630" property="og:image:height">
		<meta content="Gif Wall on a brick wall." property="og:image:alt">
		<meta content="https://www.mattsoria.com/" property="og:see_also">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:creator" content="@">
		<meta name="twitter:title" content="eGenesis">
		<meta name="twitter:description" content="Display gifs full-screen on a loop.">
		<meta name="twitter:image" content="https://gifwall.mattsoria.com/og.jpg">
		<meta name="twitter:image:width" content="1200">
		<meta name="twitter:image:height" content="630">
		<meta name="twitter:image:alt" content="Gif Wall on a brick wall.">
	</head>
	<body class="controls-open">
		<main>
			<slot />
		</main>

		<footer>
			<div class="colophone">
        <div>
          built by
          <a href="https://mattsoria.com">matt soria</a>
        </div>
      </div>
		</footer>
	</body>
</html>
<style is:global lang="scss">
	:root {
		--primary: #555;
		--accent: #09FF84;
		--accent-focus: color-mix(in srgb, var(--accent) 90%, #000);
		--color-text-dark: #333;
		--color-text-light: #bbb;
		--border: 2px solid rgba(0, 0, 0, 0.2);
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	html {
		min-height: 100%;
		box-sizing: border-box;
	}

	body {
		margin: 0;
		display: flex;
		padding: 20px;
		font-size: 16px;
		background: #eee;
		min-height: 100vh;
		color: var(--primary);
		flex-direction: column;
		accent-color: var(--accent);
		justify-content: space-between;
		font-family: 'Space Mono', monospace;

		&:not(.controls-open) .colophone {
			opacity: 0;
			pointer-events: none;
		}
	}

	::selection {
		color: #000;
		background-color: var(--accent);
	}

	main {
		flex: 1;	
	}

	footer {
		display: flex;
		position: relative;
		padding-inline: 20px;
		justify-content: center;
		padding-block-start: 20px;

		.colophone {
			gap: 6px;
			opacity: 1;
			color: #fff;
			display: grid;
			padding: 0.2em;
			font-size: 14px;
			mix-blend-mode: difference;
			transition: opacity 0.3s ease-out;

			&:has(a:hover, a:focus-visible) {
				color: #000;
				background-color: #fff;
				mix-blend-mode: normal;
			}
		}

		a {
			color: inherit;
			text-underline-offset: 2px;
		}
	}
</style>
