---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title ? title + ' | ' : '' }Gif Wall</title>
	</head>
	<body class="controls-open">
		<main>
			<slot />
		</main>

		<footer>
			<div class="colophone">
        <div>
          built by
          <a href="https://mattsoria.com">matt soria</a>.
        </div>
      </div>
		</footer>
	</body>
</html>
<style is:global lang="scss">
	:root {
		--primary: #555;
		--accent: #51D693;
		--accent-focus: #259c60;
		--border: 2px solid rgba(0, 0, 0, 0.2);
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	html {
		min-height: 100%;
		box-sizing: border-box;
	}

	body {
		margin: 0;
		display: flex;
		padding: 20px;
		font-size: 16px;
		background: #eee;
		min-height: 100vh;
		color: var(--primary);
		flex-direction: column;
		accent-color: var(--accent);
		justify-content: space-between;
		font-family: 'Space Mono', monospace;

		&:not(.controls-open) .colophone {
			opacity: 0;
			pointer-events: none;
		}
	}

	main {
		flex: 1;	
	}

	footer {
		display: flex;
		position: relative;
		padding-inline: 20px;
		justify-content: center;
		padding-block-start: 20px;

		.colophone {
			gap: 6px;
			opacity: 1;
			color: #fff;
			display: grid;
			font-size: 14px;
			mix-blend-mode: difference;
			transition: opacity 0.3s ease-out;
		}

		a {
			color: inherit;
			text-underline-offset: 2px;
		}
	}
</style>
